# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.KISA.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\49179\RiderProjects\KI_Softwareagenten\KISA\.idea\.idea.KISA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
